**/bin/**
**/obj/**
.vs/**
/*.suo
/packages/Prism.*
/packages/CommonServiceLocator.*
/packages/Expression.Blend.Sdk.*
/packages/Plainion.*
/packages/EntityFramework.*
/packages/System.Data.SQLite.*
/packages/NUnit.*
/packages/Moq.*
/packages/WPFToolkit.*
/packages/AvalonEdit.*
/packages/HtmlAgilityPack.*
/TestResult.xml
/TestResults/**
RaynMaker.gc.*
/packages/Castle.Core.*
/experiments/Portfolio/.vs/**
/experiments/Portfolio/packages/FSharp.Core.*
/experiments/Portfolio/packages/Suave.*
